<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>POMPdeLUX tech blog - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href="http://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header>
            <h1><a href="/" title="POMPdeLUX Tech blog">Tech blog</a></h1>

            <div>
                <a href="http://www.pompdelux.com/" title="Visit us and find some cool kids clothing.">Visit us</a>
            </div>
        </header>

        <div class="content">
             {{ content }}
        </div>
    </body>
</html>

